@import '../index.scss';


.ChatBox,
.Dashboard{
    max-width: 500px;
    width: 90%;
    background-color: #f3f3f3;
    box-shadow: $boxShadow;
    border-radius: $borderRaius;
    padding: 2rem;

    .singleProfile{
        border-bottom: $borderBottom;
        border-top: $borderBottom;
    }
    .profile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;
        border-bottom: $borderBottom;

        .content{
            display: flex;
            align-items: center;
            flex: 0.7;

            .picture{
                width: 55px;
                height: 55px;
                border-radius: 50%;
                background-color: red;

                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            .details{
                display: flex;
                flex-direction: column;
                margin-left: 1rem;
                h1{
                    font-size: 1.2rem;
                    display: flex;
                    align-items: center;

                    i{
                        color: #04b304;
                        font-size: 0.9rem;
                        margin-left: 0.4rem;
                    }
                    i.red{
                        color: #cf1010;
                    }
                }
                p{
                    font-size: 0.9rem;
                    font-weight: 500;
                }
                .lastMsg{
                    color: grey;
                }
            }
        }

        .logout{
            flex: 0.3;
            input{
                width: 100%;
                height: 5vh;
                background: #272727;
                outline: none;
                padding: 0 0.5rem;
                border: 2px solid #e4e4e4;
                border-radius: 5px;
                transition: border-color 0.4s ease-in-out;
                font-size: 1rem;
                color: #f3f3f3;
                transition: background-color 0.4s;
                cursor: pointer;
            }
            input:hover{
                background-color: #585858;
            }
        }
    }

    .users{
        width: 100%;
        margin-top: 1rem;

        h1{
            margin: 1rem 0;
        }
        .allUsers{
            width: 100%;
            height: auto;
            max-height: 550px;
            overflow-y: scroll;

            .user{
                width: 100%;
                height: 100%;
                cursor: pointer;
                margin-bottom: 1rem;
                
                h1{
                    margin: 0;
                }
            }
            .user:hover{
                background-color: #e6e6e6;
            }
        }
        .allUsers::-webkit-scrollbar{
            display: none;
        }
    }
}