@import "../index.scss";

.signupContainer, .loginContainer{
    max-width: 500px;
    width: 90%;
    background-color: #f3f3f3;
    box-shadow: $boxShadow;
    border-radius: $borderRaius;
    padding: 2rem;
    
    .title{
        font-size: 1.3rem;
        padding: 0.5rem 0.2rem;
        border-bottom: $borderBottom;
    }
    form{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;

        input{
            width: 100%;
            height: 5vh;
            background: transparent;
            outline: none;
            padding: 0 0.5rem;
            border: 2px solid #e4e4e4;
            border-radius: 5px;
            transition: border-color 0.4s ease-in-out;
            font-size: 1rem;
        }
        input:focus{
            border-color: green;
        }

        .name{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .fname, .lname{
                flex: 0.47;
            }
        }
        .contents{
            display: flex;
            flex-direction: column;

            .email, .password{
                flex: 1;
            }
            .email{
                margin: 1rem 0 ;
            }
            .password, .file{
                margin-bottom: 1rem;
            }
            input[type="file"]{
                border: none;
                width: 100%;
                height: 100%;
                font-size: 1rem;
                display: flex;
                align-items: center;
                margin-bottom: 1rem;
            }
        }
        input[type="submit"]{
            background: #272727;
            color: #f3f3f3;
            height: 6vh;
            font-size: 0.9rem;
            cursor: pointer;
            transition: background 0.4s ease-in-out;
        }
        input[type="submit"]:hover{
            background: #008000;
        }
        input[type="submit"]:disabled{
            background-color: #b3b3b39c;
        }
    }

    .signedUp{
        margin: 1rem 0;
        text-align: center;

        p{
            a{
                color: grey;
                cursor: pointer;
                transition: 0.6s;
                margin-left: 0.5rem;
            }
            a:hover{
                text-decoration: underline;
                color:green;
            }
        }
    }
}